body {
    width: 200px;
    padding: 20px;
    margin: 0;
    background-color: #1e1e1e;
    color: #fff;
    font-family: 'Arial', sans-serif;
    text-align: left;
}

h3 {
    text-align: center;
    margin-bottom: 20px;
}

button {
    width: 100%;
    padding: 10px 15px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 10px;
}

button:hover {
    background-color: #0056b3;
}

footer {
    margin-top: 20px;
    font-size: 12px;
    color: lightgrey;
    text-align: left;
}
