/* Cor dos Textos */
.dark-mode .course-timer__text,
.dark-mode .course-timer__timer--countdown,
.dark-mode .extra-services__title,
.dark-mode .extra-services__text,
.dark-mode .continue-learning-course__header-left--text,
.dark-mode .continue-learning-course__header-left--text-sm,
.dark-mode .continue-learning-course__header-left--lecture-link,
.dark-mode .continue-learning-course__footer-lessons-lesson-link,
.dark-mode .continue-learning-course__footer-text,
.dark-mode .grading-alert--score-info,
.dark-mode .continue-learning-course__header-left--lecture-name,
.dark-mode .course-progress__overview,
.dark-mode .course-module__toggle-lections-content,
.dark-mode .course-progress__badge,
.dark-mode .course-module__header-progress,
.dark-mode .course-module__header-title,
.dark-mode .course-lecture__lecture-title,
.dark-mode .course-lecture__lecture-header,
.dark-mode .course-module__header-title--completed,
.dark-mode .course-section__header-title,
.dark-mode .course-progress__section-title,
.dark-mode .course-progress__percent,
.dark-mode .course-sumbenu__title,
.dark-mode .title,
.dark-mode .course-module__description,
.dark-mode .description,
.dark-mode .badge b,
.dark-mode .badge,
.dark-mode .course-heading__title {
    color: #E0E0E0 !important;
}

/* Cor dos Cards */
.dark-mode .course-timer,
.dark-mode .submenu,
.dark-mode .continue-learning-course__body,
.dark-mode .course-module__toggle-lections,
.dark-mode .course-lecture,
.dark-mode .course-module .expansion-item,
.dark-mode .course-progress,
.dark-mode .course-heading {
    background-color: #1E1E1E !important;
}

/* Cor do Contador de Dias */
.dark-mode .course-timer__timer {
    background-color: #121212 !important;
}

/* Cor do Card de Suporte do Tutor e Submenu */
.dark-mode .course-progress__badge,
.dark-mode .submenu,
.dark-mode .card {
    background-color: #121212 !important;
}

/* Cor dos Ícones */
.dark-mode span.course-progress__fold-icon svg path,
.dark-mode .course-module__header-fold > span svg path,
.dark-mode .badge svg path {
    fill: #E0E0E0 !important;
}

/* Cor dos Ícones - Mobile */
.dark-mode .course-module__toggle-lections > div > span > svg path {
    stroke: #E0E0E0 !important;
}

/* Sombra do Card de % Concluída do Curso */
.dark-mode .course-progress__content-body-cover-gradient--left {
    background: linear-gradient(90deg, #1E1E1E 36.9%, hsla(0, 0%, 100%, 0)) !important;
}

.dark-mode .course-progress__content-body-cover-gradient--right {
    background: linear-gradient(270deg, #1E1E1E 36.9%, hsla(0, 0%, 100%, 0)) !important;
}

/* Sombra dos Cards de Vídeos */
.dark-mode .course-lecture-preview__overlay--finished {
    background: none !important;
}

/* Minhas Notas */
/* Cor do Texto */
.dark-mode .note-card__text,
.dark-mode .sidebar__title,
.dark-mode .note-sidebar__empty,
.dark-mode .note-card__title {
    color: #E0E0E0 !important;
}

/* Cor do Botão */
.dark-mode .btn-toggle {
    background-color: #E0E0E0 !important;
}

/* Cor de Fundo da Anotação */
.dark-mode .note-card {
    background-color: #121212 !important;
}
