/* Footer */
/* Cor de Fundo */
.dark-mode .footer__recaptcha,
.dark-mode .footer {
    background-color: #1E1E1E !important;
}

/* Borda dos Prêmios */
.dark-mode .footer__award img,
.dark-mode .footer__award {
    border: 1px solid black !important;
    border-radius: 8px !important;
}

/* Cor dos Ícones das Redes Sociais */
.dark-mode .footer__socials > div > a > span > svg > path,
.dark-mode .footer__socials > div > a > span > svg > g path {
    fill: #E0E0E0 !important;
}
