/* Configurações Gerais */
/* Cor de Fundo Principal */
.dark-mode html,
.dark-mode body {
    background-color: #121212;
}

/* Cor dos Botões Quando Desativados  */
.dark-mode .switcher__inner_unselected[data-v-0f534a74] {
    background-color: #1E1E1E;
}

/* Logo da EBAC */
.dark-mode .header__logo[data-v-3e0f0a18],
.dark-mode .header__logo-container[data-v-7cbde269] {
    background-color: #E0E0E0;
    padding: 3px;
    border-radius: 8px;
}

/* Cor das Barras de Progresso dos Cursos */
.dark-mode .continue-learning-card .course-progress__indicator .indicator__strip[data-v-a084d5cc],
.dark-mode .course-card__progress-bar[data-v-7fae3d27] {
    background-color: #E0E0E0;
}

/* Cor de Fundo das Barras de Progresso dos Cursos */
.dark-mode .continue-learning-card .course-progress__indicator[data-v-a084d5cc],
.dark-mode .course-card__progress-container[data-v-7fae3d27] {
    background-color: #121212;
}

/* Alert Está Gostando do Curso */
/* Cor de Fundo */
.dark-mode .dialog-alert[data-v-28494d90] {
    background-color: #1E1E1E;
}

/* Cor do Texto */
.dark-mode .description[data-v-c82a3b1a],
.dark-mode .title[data-v-c82a3b1a] {
    color: #E0E0E0;
}

/* Formulário de Login */
/* Cor de Fundo */
.dark-mode .auth-form__form[data-v-64387e58],
.dark-mode .auth-form__form[data-v-4b3d9801] {
    background-color: #1E1E1E;
}

/* Cor do Texto */
.dark-mode .auth-form__options[data-v-4b3d9801] .checkbox__label,
.dark-mode .auth-form__title[data-v-4b3d9801],
.dark-mode .auth-form__support[data-v-64387e58],
.dark-mode .auth-form__support[data-v-4b3d9801] {
    color: #E0E0E0;
}

/* Cor do Ícone do Menu de Comentários e dos Pontos de Interrogação da Página de Ajuda */
.dark-mode .expansion-item__before-label-icon[data-v-4223dbe0] span svg path {
    fill: black;
}