/* Configurações Gerais */
/* Cor de Fundo Principal */
.dark-mode html,
.dark-mode body {
    background-color: #121212 !important;
}

/* Cor dos Botões Quando Desativados  */
.dark-mode .switcher__inner_unselected {
    background-color: #1E1E1E !important;
}

/* Logo da EBAC */
.dark-mode .header__logo,
.dark-mode .header__logo-container {
    background-color: #E0E0E0 !important;
    padding: 3px !important;
    border-radius: 8px !important;
}

/* Cor das Barras de Progresso dos Cursos */
.dark-mode .continue-learning-card .course-progress__indicator .indicator__strip,
.dark-mode .course-card__progress-bar {
    background-color: #E0E0E0 !important;
}

/* Cor de Fundo das Barras de Progresso dos Cursos */
.dark-mode .continue-learning-card .course-progress__indicator,
.dark-mode .course-card__progress-container {
    background-color: #121212 !important;
}

/* Alert Está Gostando do Curso */
/* Cor de Fundo */
.dark-mode .dialog-alert {
    background-color: #1E1E1E !important;
}

/* Cor do Texto */
.dark-mode .description,
.dark-mode .title {
    color: #E0E0E0 !important;
}

/* Formulário de Login */
/* Cor de Fundo */
.dark-mode .auth-form__form {
    background-color: #1E1E1E !important;
}

/* Cor do Texto */
.dark-mode .auth-form__options .checkbox__label,
.dark-mode .auth-form__title,
.dark-mode .auth-form__support {
    color: #E0E0E0 !important;
}

/* Cor do Ícone do Menu de Comentários e dos Pontos de Interrogação da Página de Ajuda */
.dark-mode .expansion-item__before-label-icon span svg path {
    fill: black !important;
}
