/* Header */
/* Cor do Texto */
.dark-mode .header__main-nav-list li .header__main-nav-link,
.dark-mode .header__main-nav-links > li:nth-child(2) > a,
.dark-mode .header__main-nav-links > li:nth-child(3) > a,
.dark-mode .header__main-nav-bottom-logout,
.dark-mode .header__main-nav-bottom-profile,
.dark-mode .header__main-nav-bottom-info {
    color: #E0E0E0 !important;
}

/* Cor dos Botões ao Serem Clicados */
.dark-mode .header__wrap .header__inner .header__main-nav-link:focus {
    color: #ff7900 !important;
}

/* Cor de Fundo */
.dark-mode .header__wrap,
.dark-mode .header__main-nav {
    background-color: #1E1E1E !important;
}

/* Cor do Menu Hamburguer  */
.dark-mode .icon svg rect {
    fill: #E0E0E0 !important;
}

/* Cor de Fundo */
.dark-mode .sidebar__container .dialog-alert {
    background-color: #1E1E1E !important;
}

/* Cor do Ícone de Notificações */
.dark-mode .header__wrap .header__inner .header__notification-icon svg path {
    fill: #E0E0E0 !important;
}

/* Cor de Fundo das Notificações */
.dark-mode .notification-card,
.dark-mode .notifications-sidebar__item-empty,
.dark-mode .notifications-sidebar__item-pending-next {
    background-color: #E0E0E0 !important;
}
/* Cor do Texto das Notificações */
.dark-mode .notifications-sidebar__item-viewed-line-text,
.dark-mode .notification-card__header-date,
.dark-mode .notification-card {
    color: #1E1E1E !important;
}

/* Menu do Usuário */
/* Cor de Fundo */
.dark-mode .header__user-menu {
    background-color: #1E1E1E !important;
}

/* Cor do Texto */
.dark-mode .user-menu__items a,
.dark-mode .user-menu__name p {
    color: #E0E0E0 !important;
}
