/* Cor dos Textos */
.dark-mode .support-student .dialog-alert__title,
.dark-mode .help-support__text--short,
.dark-mode .support-student__subtitle,
.dark-mode .dialog-alert__title,
.dark-mode .help-support__text,
.dark-mode .help-questions__list-answer,
.dark-mode .expansion-item__label-text--secondary,
.dark-mode .help-questions__title,
.dark-mode .help-heading__title {
    color: #E0E0E0 !important;
}

/* Cor de Fundo das Perguntas*/
.dark-mode .help-support__container,
.dark-mode .expansion-item--secondary {
    background-color: #1E1E1E !important;
}

/* Cor de Fundo do Ícone de Suporte ao Aluno - Mobile */
.dark-mode .support-student__title-icon--mobile svg path {
    fill: #E0E0E0 !important;
}

/* Cor do Ícone de Suporte ao Aluno - Mobile */
.dark-mode .support-student__title-icon--mobile svg path:nth-child(2),
.dark-mode .support-student__title-icon--mobile svg path:nth-child(3) {
    fill: #121212 !important;
}

/* Cor do Botão de Suporte ao Aluno */
.dark-mode .support-floating-button .btn {
    background-color: #E0E0E0 !important;
    border: 1px solid #121212 !important;
}

/* Fundo do "Descreva o seu Problema" */
.dark-mode .ql-editor {
    background-color: #E0E0E0 !important;
}

/* Fundo Upload de Arquivos */
.dark-mode .file-upload {
    background-color: #B0B0B0 !important;
}

/* Preenchimento do Ícone de Clips */
.dark-mode .file-upload__attach-label button div span svg path {
    fill: none !important;
}
