/* Cor dos Textos */
.dark-mode .course-program-section__title,
.dark-mode .course-program-lecture__title,
.dark-mode .video-player-wrapper__subtitles .video-player__subs,
.dark-mode .video-player-wrapper__subtitles .scrollarea__container,
.dark-mode .video-player__subs-title,
.dark-mode .expansion-item__content-text--secondary,
.dark-mode .lesson__no-content,
.dark-mode .reply__header > *,
.dark-mode .comment__header > *,
.dark-mode .lesson-note__description,
.dark-mode .lesson-note__caption,
.dark-mode .ql-editor-base,
.dark-mode .task__title,
.dark-mode .tickets-note__text,
.dark-mode .mark-section button + span,
.dark-mode .attachment__filename,
.dark-mode .attachments__title,
.dark-mode .comments-post__user-name,
.dark-mode .content-rating__headline,
.dark-mode .lesson-navigation__subtitle,
.dark-mode .lesson-navigation__title,
.dark-mode .comments-block__label,
.dark-mode .tickets-note__text,
.dark-mode .presentation-box__title,
.dark-mode .lecture-submenu__title,
.dark-mode .html-block--content,
.dark-mode .lecture-heading__title {
    color: #E0E0E0 !important;
}

/* Cor dos Cards */
.dark-mode .video-player__subs,
.dark-mode .task,
.dark-mode .attachment,
.dark-mode .content-rating,
.dark-mode .lesson-navigation,
.dark-mode .tickets,
.dark-mode .html-block {
    background-color: #1E1E1E !important;
}

/* Sombreamento Por Cima Dos Vídeos - Descomente Para Habilitar */
/* .dark-mode .playkit-player {
    opacity: 0.5;
} */

/* Fundo da Transcrição dos Vídeos */
.dark-mode .video-player-wrapper__subtitles #videoPlayerSubsBody,
.dark-mode .video-player-wrapper__subtitles .scrollarea__container {
    background-color: #1E1E1E !important;
}

/* Cor de Fundo ao Fazer Hover nos Textos */
.dark-mode .video-player__subs--text:hover {
    background-color: #121212 !important;
}

/* Cor de Fundo do Switch de Auto Rolagem da Transcrição */
.dark-mode .video-player__subs-bottom {
    background-color: #E0E0E0 !important;
}

/* Cor da Barra de Edição dos Comentários */
.dark-mode .editor__toolbar {
    background-color: #E0E0E0 !important;
}

/* Sombra Por Cima dos PDFs */
.dark-mode .presentation__pdf iframe {
    opacity: 0.8;
}

/* Cor dos Textos (Precisam do "!important") */
.dark-mode .question__feedback--common > p > span,
.dark-mode #contentBlock > div.lesson__block.lesson__block--text > div > div > ul > li > strong,
.dark-mode #contentBlock > div.lesson__block.lesson__block--text > div > div > ul > li > span,
.dark-mode #contentBlock > div.lesson__block.lesson__block--text > div > div > p strong,
.dark-mode #contentBlock > div.lesson__block.lesson__block--text > div > div > p span {
    background-color: transparent !important;
    color: #E0E0E0 !important;
}

/* Cor de Fundo Imagem "Na nossa programação exclusiva para você" */
.dark-mode .html-block--content > :first-child > img {
    background-color: #E0E0E0 !important;
}

/* Cor dos Textos - Quizzes */
.dark-mode .question__feedback--common,
.dark-mode .mark-section button + span,
.dark-mode .startcontinue-block_wrap__item,
.dark-mode .navigation-block__count,
.dark-mode .quiz__title,
.dark-mode .quiz-questions__title,
.dark-mode .quiz-results__title,
.dark-mode .question-block__text-title,
.dark-mode .startcontinue-block_wrap__questions,
.dark-mode .startcontinue-block_wrap__timelimit,
.dark-mode .startcontinue-block_wrap__title,
.dark-mode .complete-block__text-main,
.dark-mode .question-block__main-title.question-block--is-unknown,
.dark-mode .quiz-results__title,
.dark-mode .complete-block__text-title {
    color: #E0E0E0 !important;
}

/* Cor dos Cards - Quizzes */
.dark-mode .navigation-block,
.dark-mode .quiz__back-button,
.dark-mode .quizmain,
.dark-mode .question-block,
.dark-mode .startcontinue-block,
.dark-mode .question-block,
.dark-mode .complete-block {
    background-color: #1E1E1E !important;
}

/* Cor do Menu de Comentários */
.dark-mode .comments-menu {
    background-color: #121212 !important;
}

/* Botão de Responder Comentários */
.dark-mode .comments-actions__reply--mobile {
    color: #E0E0E0 !important;
    padding: 8px !important;
    border-radius: 28px !important;
    background-color: #121212 !important;
}

/* Cor do Texto dos Comentários */
.dark-mode .comments-post__html-content p,
.dark-mode .comments-post__html-content p *,
.dark-mode .comments-post__html-content ul > li {
    color: #E0E0E0 !important;
}

/* Cor de Fundo dos Cards do Botão "Programa do Curso" */
.dark-mode .course-program-module.expansion-item .expansion-item__container {
    background-color: #121212 !important;
}

/* Cor de Fundo dos Items dos Cards do Botão "Programa do Curso" */
.course-program-lecture {
    background-color: #1E1E1E !important;
}

/* Fundo do "Descreva o seu Problema" e do Envio de Tarefas */
.dark-mode .swiper,
.dark-mode .editor__attach-files-list .badge,
.dark-mode .ql-editor {
    background-color: #E0E0E0 !important;
}

/* Cor do Nome dos Arquivos Anexados */
.dark-mode .editor__attach-files-list .badge {
    color: #121212 !important;
}

/* Cor do X de Remover Arquivo Anexado */
.dark-mode .editor__attach-file-remove .icon > svg > path {
    fill: #121212 !important;
}