/* Cor dos Textos */
.dark-mode .mark-section button+span[data-v-15fb0d02],
.dark-mode .attachment__filename[data-v-cc1a47e6],
.dark-mode .attachments__title[data-v-978de2a2],
.dark-mode .comments-post__user-name[data-v-6d976fbb],
.dark-mode .content-rating__headline[data-v-762559f1],
.dark-mode .lesson-navigation__subtitle[data-v-ba1fead0],
.dark-mode .lesson-navigation__title[data-v-ba1fead0],
.dark-mode .comments-block__label[data-v-4dc4178b],
.dark-mode .tickets-note__text[data-v-ffb9e4d8],
.dark-mode .presentation-box__title[data-v-f5d024d2],
.dark-mode .lecture-submenu__title[data-v-230ba8de],
.dark-mode .html-block--content[data-v-77bb5218],
.dark-mode .lecture-heading__title[data-v-68778452] {
    color: #E0E0E0;
}

/* Cor dos Cards */
.dark-mode .attachment[data-v-cc1a47e6],
.dark-mode .content-rating[data-v-762559f1],
.dark-mode .lesson-navigation[data-v-ba1fead0],
.dark-mode .tickets[data-v-00098d74],
.dark-mode .html-block[data-v-77bb5218] {
    background-color: #1E1E1E;
}

/* Cor da Barra de Edição dos Comentários */
.dark-mode .editor__toolbar[data-v-c95dcbc0] {
    background-color: #E0E0E0;
}

/* Sombra Por Cima dos PDFs */
.dark-mode .presentation__pdf iframe {
    opacity: 0.8;
}

/* Cor dos Textos (Precisam do "!important") */
.dark-mode .question__feedback--common[data-v-eaa3bbb6] > p > span,
.dark-mode #contentBlock > div.lesson__block.lesson__block--text > div > div > ul > li > strong,
.dark-mode #contentBlock > div.lesson__block.lesson__block--text > div > div > ul > li > span,
.dark-mode #contentBlock > div.lesson__block.lesson__block--text > div > div > p strong,
.dark-mode #contentBlock > div.lesson__block.lesson__block--text > div > div > p span {
    background-color: transparent !important;
    color: #E0E0E0 !important;
}

/* Cor de Fundo Imagem "Na nossa programação exclusiva para você */
.dark-mode .html-block--content[data-v-77bb5218]>:first-child>img {
    background-color: #E0E0E0;
}

/* Cor dos Textos - Quizzes */
.dark-mode .mark-section button+span[data-v-6e9c80e4],
.dark-mode .startcontinue-block_wrap__item[data-v-0664bce0],
.dark-mode .navigation-block__count[data-v-16c1359c],
.dark-mode .quiz__title[data-v-419ccb1e],
.dark-mode .quiz-questions__title[data-v-419ccb1e],
.dark-mode .quiz-results__title[data-v-b9b58c36],
.dark-mode .question-block__text-title[data-v-4da7b0bf],
.dark-mode .startcontinue-block_wrap__questions[data-v-0664bce0],
.dark-mode .startcontinue-block_wrap__timelimit[data-v-0664bce0],
.dark-mode .startcontinue-block_wrap__title[data-v-0664bce0],
.dark-mode .complete-block__text-main[data-v-180b6d14],
.dark-mode .question-block__text-title[data-v-96566a5a],
.dark-mode .question-block__main-title.question-block--is-unknown[data-v-96566a5a],
.dark-mode .quiz-results__title[data-v-cb07b26c],
.dark-mode .complete-block__text-main[data-v-6d24357a],
.dark-mode .complete-block__text-title[data-v-6d24357a] {
    color: #E0E0E0;
}


/* Cor dos Cards - Quizzes */
.dark-mode .navigation-block[data-v-16c1359c],
.dark-mode .quiz__back-button[data-v-419ccb1e],
.dark-mode .quizmain[data-v-419ccb1e],
.dark-mode .question-block[data-v-4da7b0bf],
.dark-mode .startcontinue-block[data-v-0664bce0],
.dark-mode .question-block[data-v-96566a5a],
.dark-mode .complete-block[data-v-180b6d14],
.dark-mode .complete-block[data-v-6d24357a] {
    background-color: #1E1E1E;
}

/* Cor do Menu de Comentários */
.dark-mode .comments-menu[data-v-3d7afc92] {
    background-color: #121212;
}

/* Cor do Texto dos Comentários */
.dark-mode .comments-post__html-content[data-v-6d976fbb] p strong,
.dark-mode .comments-post__html-content[data-v-6d976fbb] ul>li,
.dark-mode .comments-post__html-content[data-v-6d976fbb] p {
    color: #E0E0E0;
}
