/* Cor dos Textos */
.dark-mode .body-s,
.dark-mode .h5,
.dark-mode .card__notic p,
.dark-mode .title,
.dark-mode .profile-certificates-enrollments div:nth-child(1) div,
.dark-mode .profile-certificates-enrollments__title,
.dark-mode .profile-certificates-enrollments__title h2,
.dark-mode .profile-certificates-courses__title h2,
.dark-mode .password__title,
.dark-mode .profile-form__hint,
.dark-mode .checkbox__label,
.dark-mode .profile-form__header-description,
.dark-mode .profile-form__header-title,
.dark-mode .card__title h2,
.dark-mode .header__name h1 {
    color: #E0E0E0 !important;
}

/* Cor dos Cards */
.dark-mode .enrollments__cert,
.dark-mode .password,
.dark-mode .profile-form,
.dark-mode .card {
    background-color: #1E1E1E !important;
}

/* Cor de Fundo do Botão de Deletar Foto do Perfil */
.dark-mode .card__delete {
    background-color: #E0E0E0 !important;
}

/* Cor de Fundo da Pré-Visualização do Certificado */
.dark-mode .cert__user-info {
    background-color: #E0E0E0 !important;
}
