/* Cor dos Títulos */
.dark-mode .webinar__h,
.dark-mode .startcontinue-block_wrap__desc-text,
.dark-mode .startcontinue-block_wrap__attempts,
.dark-mode .question-rate-tip-text,
.dark-mode .webinars-recorded__filter-popup--back,
.dark-mode .webinars-recorded__filters-popup-title,
.dark-mode .webinars-recorded__header,
.dark-mode .webinars__header,
.dark-mode .webinars__additional-title,
.dark-mode .webinar-cards__title {
    color: #E0E0E0 !important;
}

/* Cor dos Botões */
.dark-mode .btn_white,
.dark-mode .webinars-recorded__header-filters-mobile .btn,
.dark-mode .field__control,
.dark-mode .webinar-cards__expansion-btn,
.dark-mode .webinars__header-recorded .btn {
    background-color: #E0E0E0 !important;
}

/* Cor do Ícone do Botão "Webinars Gravados" */
.dark-mode .webinars__header-recorded .btn-icon svg path {
    fill: #E0E0E0 !important;
}

/* Cor das Estrelas */
.dark-mode .badge .badge-icon svg path {
    fill: #E0E0E0 !important;
}

/* Cor dos Títulos dos Cards */
.dark-mode .webinar-card__content-title {
    color: #E0E0E0 !important;
}

/* Cor dos Cards */
.dark-mode .scrollarea__container,
.dark-mode .webinars__additional,
.dark-mode .webinar-card {
    background-color: #1E1E1E !important;
}

/* Menu de Seleção de Categorias Webinars Gravados */
/* Cor de Fundo da Lista */
.dark-mode .select__dropdown-option:hover {
    background-color: #B0B0B0 !important;
}

/* Cor do Scroll da Lista */
.dark-mode .scrollarea__thumb {
    background-color: #E0E0E0 !important;
}

/* Cor do Texto das Opções */
.dark-mode .radio__label,
.dark-mode .select__dropdown-option {
    color: #E0E0E0 !important;
}

/* Altura do X Fechar Lista de Opções */
.dark-mode .dialog-alert__close {
    height: 0 !important;
}
